@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap');
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "PT Sans", sans-serif;
  --third-family: "Potta One", sans-serif;
}

.navi{
font-family: var(--font-family);
font-weight: 500;
font-size: 15px;
line-height: 200%;
color: #353535;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0%; 
    height: 2px;
    background: #000;
    transition: width 0.5s ease; 
}

.nav-link:hover::after {
    width: 100%;
}


.custom-gradient-bg {
    /* Replace this linear-gradient with the one copied from Figma */
    background: linear-gradient(90deg, #FFCC00 0%, #FFF5CB 100%);
    color: white; /* Ensures text inside is readable */
    border: none; /* Removes any default Bootstrap borders */
}
